include includes/vars
include includes/mixins

doctype html
html(lang='ru')
    include includes/blocks/head

    body

        aside.aside
            a.logo(href='' data-scroll-link='top')
                img.logo_img(src='images/logo.png' alt='RCSC - Российский Совет Торговых Центров')
            nav.menu
                ul.menu_list
                    each val, i in ['Концепция мероприятия','Конгресс уже рекомендуют','Программа','Профессиональный каталог управляющих ТЦ','Стоимость','Партнёры','Место проведения','Контакты']
                        li.menu_item(data-scroll-link=i)= val

        .main
            header.header(data-scroll-section='top')
                img.header_logo(src='images/header_logo.png' alt='RCSC - Российский Совет Торговых Центров')
                h1.header_title SHOPPING CENTER MANAGER’s Congress
                h2.header_subtitle Совершенство менеджмента
                .header_date <strong>25-26-27</strong> мая <strong>2016</strong>
                .header_time
                .btn(data-scroll-link='blank') ПРИНЯТЬ УЧАСТИЕ

            section.about.clr
                .about_img_block
                    - for(var i=1; i<5; i++)
                        img.about_img(src='images/about_' + i +'.jpg')
                .about_text_block
                    h4.about_title О МЕРОПРИЯТИИ
                    .about_term SHOPPING CENTER MANAGER’s Congress 2016 – это:
                    .about_determ.
                        Двухдневная конференция по управлению и развитию команды ТЦ
                        Мастер-классы от управляющих крупнейших зарубежных торговых центров
                    p.about_text.
                        Тематические круглые столы по методике формирования качественной
                        управляющей команды ТЦ Возможность продемонстрировать собственные
                        профессиональные компетенции на крупнейшем форуме управляющих ТЦ и
                        обменяться опытом с коллегами из других регионовТематические сессии,
                        неформальное общение, гала-вечер с развлекательной программой и многое
                        другое…
                    p.about_text.
                        Начиная с 2016 года, SHOPPING CENTER MANAGER’s Congress будет проходить
                        ежегодно.

            section.determination(data-scroll-section='0')
                .determination_text.
                    <strong>SHOPPING CENTER MANAGER’s Congress</strong> – профессиональная платформа для управляющих торговыми
                    центрами (ТЦ/ТРЦ/ТРК) по вопросам персонального развития, формирования команды, эксплуатации и
                    технического обслуживания объекта, функционирования и развития ТЦ на всех этапах его жизни.

            section.speakers(data-scroll-section='1')
                h3.speakers_title Конгресс уже рекомендуют
                ul.speakers_list_img.clr
                    - for(var i=1; i<6; i++)
                        li.speakers_item_img(class= i == 3 ? 'active' : '')
                            img.speakers_img(src='images/congress_' + i +'.png')
                            .speakers_sign Тарас Табаков
                ul.speakers_list_text
                    - for(var i=1; i<6; i++)
                        li.speakers_item_text
                            .speakers_name Тарас Табаков
                            .speakers_post Управляющий ТРЦ «Радуга Парк»
                            .speakers_text.
                                «Формат единого Конгресса для Управляющих Торговыми центрами безусловно актуален и необходим!
                                Ведь на сегодняшний момент нет методики управления, которую можно одинаково успешно использовать для любого
                                торгового центра. Именно поэтому основная задача мероприятия «Shopping Center Manager’s Congress» – создать
                                платформу, где можно будет обмениваться знаниями и систематизировать накопленный опыт. И если в
                                дальнейшем наша или другая управляющая компания сможет применить полученные знания на практике и
                                оптимизировать работу своего ТЦ, – значит задача конгресса выполнена».

            section.program.clr(data-scroll-section='2')
                .program_title Программа Shopping Center Manager’s Congress
                .program_col
                    .program_day 25 мая, Первый день:
                    p
                        strong 1. Практический блок – рабочая мастерская в ТЦ Columbus
                    p - Все секреты одного из самых успешных новых торговых объектов столицы
                    p - Экскурсия по объекту
                    p - Возможность заглянуть «за кулисы»
                    .program_day 26 мая, Второй день:
                    p
                        strong 2. Блок лидерства
                    p - Создание эффективной команды в ТЦ. Ключевые позиции и подбор персонала
                    p - Коммуникация лидера. Секреты общения с арендаторами и подрядчиками. И - самое главное - с собственником
                    p - Тайм-менеджмент: как успевать решать разноплановые задачи, так чтобы оставалось время на семью и на сон
                    p *** все эти темы будут подкрепляться примерами из каждодневной практики управляющего ТЦ**
                    p
                        strong 3. Блок стратегии
                    p - Как определить единственно верную для вашего ТЦ концепцию tennant mix
                    p - Как отсортировать "пустой" трафик и управлять им
                    p - Как превратить свой ТЦ в ключевой социальный объект города
                    p - Как строить отношения с властями и помогать развивать инфраструктуру города
                    p
                        strong В программе возможны незначительные изменения / дополнения.
                    p
                        strong Спикеры по каждой из тем будут заявлены до 20.04.2016
                .program_col
                    .program_day 27 мая, Третий день:
                    p
                        strong 4. Блок тактики
                    p - Навигация в ТЦ: почему ни у кого не получается и как сделать так, чтобы всем было удобно
                    p - Как провести тендер так, чтобы не выбрать в итоге "дёшево и сердито"
                    p - Составляем идеальный договор аренды
                    p - Как вести переговоры с арендаторами-должниками
                    p
                        strong 5. Блок маркетинга
                    p - Кто должен знать о вашем ТЦ и как заставить этих людей приходить к вам
                    p - ТЦ - территория рекламы: как научиться продавать свободные поверхности
                    p - Звуки, запахи и НЛП: как ненавязчиво помочь арендаторам увеличить оборот
                    p
                        strong 6. Интерактивный неформальный блок
                    p - Командный квест по одному из московских ТЦ

            section.catalog(data-scroll-section='3')
                .catalog_title Каталог управляющих торговыми центрами России
                p.
                    Первый в своём роде справочник по персоналиям – действующим управляющим торговыми центрами страны,
                    витрина лучших менеджерских кадров в сфере торговой недвижимости.
                p.
                    Содержит данные о профессиональном опыте управляющего и основных характеристиках торгового объекта,
                    команду которого он возглавляет на данный момент.
                p Также в каталоге представлена информация о компаниях, предлагающих услуги управления ТЦ.
                p Для того, чтобы попасть в каталог, нужно <span class="link" data-scroll-link="blank">заполнить анкету</span>
                p Условия размещения объявлений в разделе «Профили компаний» можно узнать, написав на адрес ovchinnikov@rcsc.info
                p Каталог будет представлен на открывающемся 25 мая в Москве SHOPPING CENTER MANAGER’S CONGRESS.

            section.cost(data-scroll-section='4')
                .cost_title СТОИМОСТЬ
                .cost_table
                    .cost_table_row.clr
                        .cost_table_col Что входит в пакет участия
                        .cost_table_col Стандарт
                        .cost_table_col Для членов РСТЦ
                        .cost_table_col от 3-х чел.
                    .cost_table_row.clr
                        .cost_table_col Эксклюзивный каталог профессиональных<br>управляющих ТЦ
                        .cost_table_col
                        .cost_table_col
                        .cost_table_col
                    .cost_table_row.clr
                        .cost_table_col Полная программа: Всем блоки<br>+ рабочая мастерская
                        .cost_table_col
                        .cost_table_col
                        .cost_table_col
                    .cost_table_row.clr
                        .cost_table_col Интенсивный информационный блок,<br>неформальный блок
                        .cost_table_col
                        .cost_table_col
                        .cost_table_col
                    .cost_table_row.clr
                        .cost_table_col Стоимость пакета
                        .cost_table_col.red 42 500 руб.
                        .cost_table_col.red 25 000 руб.
                        .cost_table_col.red Скидка 5%

            section.partners(data-scroll-section='5')
                .partners_title ПАРТНЕРЫ МЕРОПРИЯТИЯ
                ul.partners_list.clr
                    - for(var i=1; i<6; i++)
                        li.partners_item
                            img.partners_img(src='images/partner_' + i +'.png')

            section.place.clr(data-scroll-section='6')
                #map.place_map.place_map__notready
                .place_text_block
                    .place_title Место проведения
                    p.place_adress Место проведения уточняется
                    p.place_date 25-27 мая 2016
                    p.place_time 09:00 – 21:00
                    p.place_url http/ссылка на профиль

            section.contacts(data-scroll-section='7')
                .contacts_title КОНТАКТЫ
                p Возникли вопросы? Звоните! Пишите! Вам будут рады!
                ul.contacts_list.clr
                    each val, i in [['Участие в мероприятии','Aлена Поскакарина','poskakarina@rcsc.info'],['Участие в мероприятии','Анна Развадовская','razvadovskaya@rcsc.info'],['Участие в качестве спикера','Олег Овчинников','ovchinnikov@rcsc.info'],['PR и СМИ','Анна Дрябина','dryabina@rcsc.info'],['Участие в качестве партнера','Надежда Горбачева','gorbacheva@rcsc.info']]
                        li.contacts_item
                            .contacts_img_block
                                img.contacts_img(src='images/contact_' + (i + 1) + '.png')
                            .contacts_text_block
                                p=val[0]
                                p
                                    strong #{val[1]}<br>
                                    a(href='mailto:#{val[2]}') #{val[2]}<br>
                                    | тел.  +7 (495) 620 45-11

            footer.footer(data-scroll-section='blank')
                .footer_title Присоединяйтесь к Shopping Center Manager’s Congress
                form.form(novalidate)
                    input.input.input__name(type='text' name='name' placeholder='Имя' data-requied)
                    input.input.input__email(type='text' name='email' placeholder='Email' data-requied)
                    input.input.input__phone(type='text' name='phone' placeholder='Телефон' data-requied)
                    button.btn(type='submit') ПРИНЯТЬ УЧАСТИЕ


        include includes/blocks/scripts